<script setup>
import {useForm} from '@inertiajs/vue3';
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import TextInput from '@/Components/TextInput.vue';
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import EntityForm from "@/Components/Entities/EntityForm.vue";

const props = defineProps({ productCategory: Object, editing: Boolean})
const productCategoryForm = useForm({
        name: props.productCategory.name,
});

const storeProductCategory = () => {
    productCategoryForm.post(route('product-categories.store', {productCategory: props.productCategory.id}), {
        errorBag: 'storeForm',
        preserveScroll: true,
    });
};
</script>

<template>
  <Head title="Product Category" />

  <AuthenticatedLayout>
    <div class="py-12 max-w-7xl mx-auto sm:px-6 lg:px-8 space-y-6">
      <EntityForm
        :form-ref="productCategoryForm"
        :submit-handler="storeProductCategory"
        :title="props.editing ? 'Editing product category' : 'Creating a new product category'"
        back-btn-text="Product categories list"
        :back-btn-href="route('product-categories.index')"
      >
        <div class="py-12 max-w-7xl mx-auto sm:px-6 lg:px-8 space-y-6">
          <div class="col-span-6">
            <InputLabel
              for="name"
              value="Name"
            />
            <TextInput
              id="name"
              v-model="productCategoryForm.name"
              type="text"
              class="block w-full mt-1"
              autofocus
            />
            <InputError
              :message="productCategoryForm.errors.name"
              class="mt-2"
            />
          </div>
        </div>
      </EntityForm>
    </div>
  </AuthenticatedLayout>
</template>
