<script setup>

import {computed, useSlots} from "vue";

const hasHeader = computed(() => !! useSlots().cardHeader);
const hasFooter = computed(() => !! useSlots().cardFooter);
</script>

<template>
  <div class="w-full rounded-lg bg-white p-6 shadow-lg dark:bg-gray-800 flex flex-col justify-between">
    <div
      v-if="hasHeader"
      class="flex justify-between align-start mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50 flex-none border-b-2 border-gray-700 pb-6"
    >
      <slot name="cardHeader" />
    </div>
    <div class="mb-4 text-base text-neutral-600 dark:text-neutral-200 grow">
      <slot name="cardBody" />
    </div>
    <div
      v-if="hasFooter"
      class="mt-2 text-base text-neutral-600 dark:text-neutral-200 text-right flex-none"
    >
      <slot name="cardFooter" />
    </div>
  </div>
</template>
