<script setup>
import {onBeforeUpdate, onMounted, ref} from 'vue';

defineProps(['modelValue', 'options']);
defineEmits(['update:modelValue']);

const input = ref(null);

onBeforeUpdate(() => {
    if(!props.modelValue) {
        $(input.value).val('').trigger('change');
    }
});

onMounted(() => {
    $(input.value).select2();
});

defineExpose({ focus: () => input.value.focus() });
</script>

<template>
  <select
    ref="input"
    :value="modelValue"
    @change="$emit('update:modelValue', $event.target.value)"
  >
    <option
      v-for="(option, key) of options"
      :value="key"
    >
      {{ option }}
    </option>
  </select>
</template>
