<script setup>
import {
    computed, onBeforeUnmount, onBeforeUpdate,
    onMounted, onUnmounted,
    ref,
} from 'vue';

const props = defineProps({
    url: String,
    modelValue: Number,
    filterProperty: String,
    displayProperty: String,
});

// onBeforeUnmount(() => {
//     $(input.value).off().select2('destroy');
// })
onBeforeUpdate(() => {
    if(!props.modelValue) {
        $(input.value).val('').trigger('change');
    }
});
const emit = defineEmits(['update:modelValue']);
const input = ref(null);
onMounted(() => {
    const $select = $(input.value);
    if ($select.hasClass("select2-hidden-accessible")) {
        return;
    }
    $select.select2({
        cache: true,
        tags: false,
        tokenSeparators: [",", " "],
        ajax: {
            url: props.url,
            dataType: 'json',
            quietMillis: 500,
            data: (term, page) => {
                let filters = {};
                filters[props.filterProperty] = term.term;
                return {
                    filterParams: filters,
                    fields: 'id,' + props.displayProperty
                };
            },
            processResults: (data, page) => {
                return {
                    results: data.results.map((result) => {
                        return {
                            id: result.id,
                            text: result[props.displayProperty],
                        };
                    })
                };
            },
        }
    });

    $select.on('select2:select', (e) => {
        emit('update:modelValue', e.params.data.id)
    });
});

defineExpose({ focus: () => input.value.selected.focus() });
</script>

<template>
  <select
    ref="input"
    :value="modelValue"
    @input="$emit('update:modelValue', $event.target.value)"
  />
</template>
