<script setup>

import colors from 'tailwindcss/colors'
const props = defineProps(['backgroundClass']);

const colorArr= props.backgroundClass.split('-');
</script>

<template>
  <span>
    <svg
      height="10"
      width="10"
    >
      <circle
        cx="5"
        cy="5"
        r="5"
        :fill="colors[colorArr[1]][colorArr[2]]"
      />
    </svg>
  </span>
</template>
