<script setup>
import PrimaryButton from '@/Components/PrimaryButton.vue';
import SecondaryButton from '@/Components/SecondaryButton.vue';
import Card from "@/Components/Card.vue";
import { Link } from '@inertiajs/vue3';
import {computed} from "vue";

const props = defineProps(['formRef', 'submitHandler', 'title', 'backBtnText', 'backBtnHref', 'saveBtnText', 'successText']);
const canBeSaved = computed(() => (!props.formRef.processing && props.formRef.isDirty) );
</script>

<template>
  <Card>
    <template #cardHeader>
      <span class="p-1">{{ title }}</span>
      <Transition
        enter-from-class="opacity-0"
        leave-to-class="opacity-0"
        class="transition ease-in-out"
      >
        <span
          v-if="formRef.recentlySuccessful"
          class="rounded bg-lime-500 text-gray-800 dark:text-gray-800 px-1 py-1"
        >
          {{ successText || 'Saved successfully.' }}
        </span>
      </Transition>
      <Transition
        enter-from-class="opacity-0"
        class="transition ease-in-out py-1"
      >
        <Link
          v-if="formRef.wasSuccessful && backBtnHref"
          :href="backBtnHref"
          class="text-sm"
        >
          <i class="fas fa-caret-left" /> {{ backBtnText || 'Back' }}
        </Link>
      </Transition>
    </template>
    <template #cardBody>
      <form
        class="mt-6 space-y-6"
        @submit.prevent="submitHandler"
      >
        <slot />

        <div class="flex justify-end gap-4 ">
          <Link
            v-if="!formRef.wasSuccessful && backBtnHref"
            :href="backBtnHref"
            x-if="backBtnHref"
            class="inline-flex items-center px-4 py-2 bg-white dark:bg-gray-800 border border-gray-300 dark:border-gray-500 rounded-md font-semibold text-xs text-gray-700 dark:text-gray-300 uppercase tracking-widest shadow-sm hover:bg-gray-50 dark:hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 dark:focus:ring-offset-gray-800 disabled:opacity-25 transition ease-in-out duration-150"
          >
            Cancel
          </Link>
          <PrimaryButton
            :class="{ 'opacity-25': !canBeSaved }"
            :disabled="!canBeSaved"
          >
            {{ saveBtnText || 'Save' }}
          </PrimaryButton>
        </div>
      </form>
    </template>
  </Card>
</template>
