<script setup>
import {useForm} from '@inertiajs/vue3';
import PrimaryButton from "@/Components/PrimaryButton.vue";
import SecondaryButton from "@/Components/SecondaryButton.vue";
import DialogModal from "@/Components/DialogModal.vue";
import MoneyInput from "@/Components/MoneyInput.vue";
import SingleSelectRemoteInput from "@/Components/SingleSelectRemoteInput.vue";
import InputError from "@/Components/InputError.vue";
import InputLabel from "@/Components/InputLabel.vue";

const emit = defineEmits(['close']);

const props = defineProps({
    show: {
        type: Boolean,
        default: false,
    },
    maxWidth: {
        type: String,
        default: '2xl',
    },
    closeable: {
        type: Boolean,
        default: true,
    },
    table: {
        type: Number
    },
});

const paymentByPriceForm = useForm({
    payment_type_id: null,
    value: 0
});

const makePaymentForm = () => {
    paymentByPriceForm.post(route('payments.storeByPrice', {table: props.table.id}), {
        preserveScroll: true,
        onSuccess: close,
    });
};
const close = () => {
    paymentByPriceForm.reset();
    emit('close');
};
</script>

<template>
  <DialogModal
    :show="show"
    :max-width="maxWidth"
    :closeable="closeable"
    @close="close"
  >
    <template #title>
      Payment
    </template>

    <template #content>
      <form
        class="mt-6 space-y-6"
        @submit.prevent="makePaymentForm"
      >
        <div class="grid grid-cols-2 grid-flow-col gap-4">
          <div class="grid grid-cols-1">
            <InputLabel
              for="payment_type_id"
              value="Payment type"
            />
            <SingleSelectRemoteInput
              v-model="paymentByPriceForm.payment_type_id"
              name="payment_type_id"
              :url="route('payment-types.index')"
              filter-property="name"
              display-property="name"
            />
            <InputError
              :message="paymentByPriceForm.errors.payment_type_id"
              class="mt-2"
            />
          </div>
          <div>
            <InputLabel
              for="value"
              value="Amount"
            />
            <MoneyInput
              id="value"
              v-model="paymentByPriceForm.value"
              class="block w-full mt-1"
              name="table"
              min="0.00"
              :max="table.remaining_total"
            />
            <InputError
              :message="paymentByPriceForm.errors.value"
              class="mt-2"
            />
          </div>
        </div>
      </form>
    </template>

    <template #footer>
      <SecondaryButton @click="close()">
        Cancel
      </SecondaryButton>

      <PrimaryButton
        class="ml-3"
        :class="{ 'opacity-25': paymentByPriceForm.processing }"
        :disabled="paymentByPriceForm.processing"
        @click="makePaymentForm"
      >
        Make payment
      </PrimaryButton>
    </template>
  </DialogModal>
</template>
