<script setup>
import Card from "@/Components/Card.vue";
import NumberInput from "@/Components/NumberInput.vue";
import PrimaryButton from "@/Components/PrimaryButton.vue";
import MoneyDisplay from "@/Components/MoneyDisplay.vue";
import {computed, ref} from 'vue';
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import PaymentByPrice from './PaymentByPrice.vue';


const emit = defineEmits(['update:total_people']);
const props = defineProps({ table: Object, total_people: Number})

const totalPeople = ref(props.total_people);
const splittedValue = computed(() => (props.table.remaining_total / totalPeople.value));

const showPaymentByPrice = ref(false);


</script>

<template>
  <Head title="Tables" />
  <AuthenticatedLayout>
    <template #header>
      <h2 class="font-semibold text-xl text-gray-800 dark:text-gray-200 leading-tight">
        <span class="text-sm text-gray-400">Summary</span><br>Table {{ table.number }}
      </h2>
    </template>

    <div class="py-12 max-w-7xl mx-auto sm:px-6 lg:px-8 space-y-6">
      <Card>
        <template #cardBody>
          <table class="min-w-full text-left text-sm font-light text-white">
            <thead class="border-b font-medium dark:border-neutral-500">
              <tr>
                <th class="px-6 py-4">
                  Quantity
                </th>
                <th class="px-6 py-4">
                  Product
                </th>
                <th class="px-6 py-4">
                  Value
                </th>
                <th class="px-6 py-4">
                  Charge service fee
                </th>
                <th class="px-6 py-4 text-right">
                  Total
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="summary of table.summary"
                class="border-b dark:border-neutral-500"
              >
                <td
                  class="whitespace-nowrap px-6 py-4"
                  v-html="summary.quantity"
                />
                <td
                  class="whitespace-nowrap px-6 py-4"
                  v-html="summary.product_name"
                />
                <td
                  class="whitespace-nowrap px-6 py-4"
                >
                  <MoneyDisplay :value="summary.unit_price" />
                </td>
                <td
                  class="whitespace-nowrap px-6 py-4"
                  v-html="summary.charge_service_fee"
                />

                <td
                  class="text-right px-6"
                >
                  <MoneyDisplay :value="summary.total_price" />
                </td>
              </tr>
            </tbody>
          </table>
        </template>
        <template #cardFooter>
          <table class="min-w-full text-left text-sm font-light text-white">
            <tfoot class="dark:bg-gray-700">
              <tr>
                <td class="text-right pt-4 px-6">
                  Subtotal: <span class="ml-2"><MoneyDisplay :value="table.subtotal" /></span>
                </td>
              </tr>
              <tr>
                <td class="text-right px-6">
                  Service fee: <span class="ml-2"><MoneyDisplay :value="table.service_fee" /></span>
                </td>
              </tr>
              <tr>
                <td class="text-right border-top px-6">
                  Total: <span class="ml-2"><MoneyDisplay :value="table.total" /></span>
                </td>
              </tr>
              <tr>
                <td class="text-right px-6 pt-6 pb-4">
                  <span v-for="payment of table.payments">
                    <em class="text-red-500">{{ payment.type.name }}: <span class="ml-2">-<MoneyDisplay :value="payment.value" /></span></em><br>
                  </span>
                  <strong class="text-primary font-bold">Remaining: <span class="ml-2"><MoneyDisplay :value="table.remaining_total" /></span></strong>
                </td>
              </tr>
              <tr v-if="table.is_open">
                <td class="pt-2 pb-4 px-6 text-right">
                  Split by
                  <NumberInput
                    id="total_people"
                    v-model="totalPeople"
                    class="w-16 mr-4 py-1 pr-0"
                    min="1"
                    name="total_people"
                  />
                  <strong class="text-primary">Splitted value: <span class="ml-2"><MoneyDisplay :value="splittedValue" /></span></strong>
                </td>
              </tr>
            </tfoot>
          </table>
          <div
            v-if="table.is_open"
            class="mt-4 pt-6"
          >
            <PrimaryButton @click="showPaymentByPrice = true">
              Make payment
            </PrimaryButton>
            <PaymentByPrice
              :show="showPaymentByPrice"
              :table="table"
              @close="showPaymentByPrice = false"
            />
          </div>
        </template>
      </Card>
    </div>
  </AuthenticatedLayout>
</template>
