<script setup>
import {Link} from '@inertiajs/vue3';

import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import Card from "@/Components/Card.vue";
import MoneyDisplay from "@/Components/MoneyDisplay.vue";

const props = defineProps({ tables: Array})
</script>

<template>
  <Head title="Tables" />
  <AuthenticatedLayout>
    <template #header>
      <h2 class="font-semibold text-xl text-gray-800 dark:text-gray-200 leading-tight">
        Tables
      </h2>
    </template>

    <div class="grid grid-cols-4 grid-flow-row gap-4 p-4">
      <Card v-for="table of props.tables">
        <template #cardHeader>
          Table <span v-html="table.number" />
        </template>
        <template #cardBody>
          <table class="min-w-full text-left text-sm font-light text-white">
            <tbody>
              <tr v-for="summary of table.summary">
                <td class="py-1">
                  {{ summary.quantity }}x {{ summary.product_name }}
                  <br><span
                    v-if="summary.detailedQuantity"
                    class="text-gray-400 font-sm"
                  >{{ summary.detailedQuantity.pairs }} pairs, {{ summary.detailedQuantity.single }} single</span>
                </td>
                <td class="text-right px-1">
                  <MoneyDisplay :value="summary.total_price" />
                </td>
              </tr>
            </tbody>
          </table>
        </template>
        <template #cardFooter>
          <div class="mb-2 text-base text-neutral-600 dark:text-neutral-200 flex-none">
            <table class="min-w-full text-left text-sm font-light text-white">
              <tfoot class="dark:bg-gray-700">
                <tr>
                  <td class="text-right pt-1 px-1">
                    Service fee: <MoneyDisplay :value="table.service_fee" />
                  </td>
                </tr>
                <tr>
                  <td class="text-right border-top pt-1 px-1">
                    Total: <MoneyDisplay :value="table.total" />
                  </td>
                </tr>
                <tr>
                  <td class="text-right pb-1 px-1">
                    <span v-for="payment of table.payments">
                      <em class="text-red-500">{{ payment.type.name }}: -<MoneyDisplay :value="payment.value" /></em><br>
                    </span>
                    <strong class="text-primary">Remaining: <MoneyDisplay :value="table.remaining_total" /></strong>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
          <p class="mt-2 text-base text-neutral-600 dark:text-neutral-200 text-right flex-none">
            <Link
              type="button"
              :href="route('tables.show', {'table': table.id})"
              class="inline-block rounded bg-gray-700 px-6 pt-2.5 pb-2 text-xs font-medium uppercase leading-normal text-white transition duration-150 ease-in-out hover:bg-primary-600 focus:bg-primary-600 focus:outline-none focus:ring-0 active:bg-gray-400"
            >
              Details
            </Link>
          </p>
        </template>
      </Card>
    </div>
  </AuthenticatedLayout>
</template>
