<script setup>
import {useForm} from '@inertiajs/vue3';
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import TextInput from '@/Components/TextInput.vue';
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import SingleSelectInput from "@/Components/SingleSelectInput.vue";
import Checkbox from "@/Components/Checkbox.vue";
import MoneyInput from "@/Components/MoneyInput.vue";
import EntityForm from "@/Components/Entities/EntityForm.vue";

const props = defineProps({ product: Object, productCategories: Array, editing: Boolean})
const productForm = useForm({
    name: props.product.name,
    product_category_id: props.product.product_category_id,
    price: props.product.price,
    has_pair_discount: props.product.has_pair_discount,
    price_with_discount: props.product.price_with_discount,
});

const storeProduct = () => {
    productForm.post(route('products.store', {product: props.product.id}), {
        errorBag: 'storeProduct',
        preserveScroll: true,
    });
};
</script>

<template>
  <Head title="Product" />

  <AuthenticatedLayout>
    <div class="py-12 max-w-7xl mx-auto sm:px-6 lg:px-8 space-y-6">
      <EntityForm
        :form-ref="productForm"
        :submit-handler="storeProduct"
        :title="props.editing ? 'Editing product' : 'Creating a new product'"
        back-btn-text="Products list"
        :back-btn-href="route('products.index')"
      >
        <div class="grid grid-cols-2 grid-flow-col gap-4">
          <div>
            <InputLabel
              for="name"
              value="Name"
            />
            <TextInput
              id="name"
              v-model="productForm.name"
              type="text"
              class="block w-full mt-1"
              autofocus
            />
            <InputError
              :message="productForm.errors.name"
              class="mt-2"
            />
          </div>
          <div class="grid grid-cols-1">
            <InputLabel
              for="product_category_id"
              value="Category"
            />
            <SingleSelectInput
              id="product_category_id"
              v-model="productForm.product_category_id"
              class="block w-full mt-1"
              :options="productCategories"
            />
            <InputError
              :message="productForm.errors.product_category_id"
              class="mt-2"
            />
          </div>
        </div>
        <div class="flex justify-start">
          <div>
            <Checkbox
              id="has_pair_discount"
              v-model="productForm.has_pair_discount"
              name="has_pair_discount"
              :checked="productForm.has_pair_discount == 1"
              value="1"
              class="mt-1"
            />
            <label
              for="has_pair_discount"
              class="font-medium text-sm text-gray-700 dark:text-gray-300 ml-1"
            >
              <span class="align-[-0.125em]">Has pair discount</span>
            </label>

            <InputError
              :message="productForm.errors.has_pair_discount"
              class="mt-2"
            />
          </div>
        </div>
        <div class="grid grid-cols-2 grid-flow-col gap-4">
          <div>
            <InputLabel
              for="price"
              value="Price"
            />
            <MoneyInput
              id="price"
              v-model="productForm.price"
              class="block w-full mt-1"
              name="price"
              min="0.00"
            />
            <InputError
              :message="productForm.errors.price"
              class="mt-2"
            />
          </div>
          <div v-show="productForm.has_pair_discount">
            <InputLabel
              for="price_with_discount"
              value="Price with discount"
            />
            <MoneyInput
              id="price_with_discount"
              v-model="productForm.price_with_discount"
              class="block w-full mt-1"
              min="0.00"
              name="price_with_discount"
            />
            <InputError
              :message="productForm.errors.price_with_discount"
              class="mt-2"
            />
          </div>
        </div>
      </EntityForm>
    </div>
  </AuthenticatedLayout>
</template>
