<script setup>
import {useForm} from '@inertiajs/vue3';

import InputLabel from '@/Components/InputLabel.vue';
import TextInput from '@/Components/TextInput.vue';
import EntityList from "@/Components/Entities/EntityList/EntityList.vue";
import PaginatedTable from "@/Components/Table/PaginatedTable.vue";

const props = defineProps({ products: Object});
const form = useForm({
    filterParams: {},
});

const filterForm = () => {
    form.get(route('products.index'));
};
</script>

<template>
  <Head title="Product Category" />

  <EntityList
    :filter-form-ref="form"
    :submit-handler="filterForm"
  >
    <template #listTitle>
      <h2 class="font-semibold text-xl text-gray-800 dark:text-gray-200 leading-tight">
        Products
      </h2>
    </template>
    <template #filters>
      <div class="col-span-6">
        <InputLabel
          for="filterName"
          value="Name"
        />
        <TextInput
          id="filterName"
          v-model="form.filterParams.name"
          type="text"
          class="block w-full mt-1"
          placeholder="Name"
          autofocus
        />
      </div>
    </template>
    <PaginatedTable
      :columns="[
        {label: '#', property: 'id'},
        {label: 'Type', property: 'category.name'},
        {label: 'Name', property: 'name'},
        {label: 'Price', property: 'formatted_price'},
      ]"
      :action-routes="{edit: 'products.edit'}"
      :pagination-data="products"
    />
  </EntityList>
</template>
