<script setup>
import {useForm} from '@inertiajs/vue3';
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import MoneyInput from "@/Components/MoneyInput.vue";
import EntityForm from "@/Components/Entities/EntityForm.vue";


const props = defineProps({ cashier: Object})
const cashierOpenForm = useForm({
    money_amount: props.cashier.money_amount,
});

const openCashier = () => {
    cashierOpenForm.post(route('cashier.open'), {
        errorBag: 'openCashier',
        preserveScroll: true,
    });
};
</script>

<template>
  <Head title="Open cashier" />

  <AuthenticatedLayout>
    <div class="py-12 max-w-7xl mx-auto sm:px-6 lg:px-8 space-y-6">
      <EntityForm
        :form-ref="cashierOpenForm"
        :submit-handler="openCashier"
        save-btn-text="Open"
        title="Opening cashier"
      >
        <div>
          <InputLabel
            for="money_amount"
            value="Opening amount"
          />
          <MoneyInput
            id="money_amount"
            v-model="cashierOpenForm.money_amount"
            class="block w-full mt-1"
            min="0.00"
            name="money_amount"
            autofocus
          />
          <InputError
            :message="cashierOpenForm.errors.money_amount"
            class="mt-2"
          />
        </div>
      </EntityForm>
    </div>
  </AuthenticatedLayout>
</template>
