<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import Card from "@/Components/Card.vue";
import Table from "@/Components/Table/Table.vue";

const props = defineProps({ cashier: Object, paymentsByType: Array, closingAmount: Number})
</script>

<template>
  <Head title="Product Category" />

  <AuthenticatedLayout>
    <template #header>
      <h2 class="font-semibold text-xl text-gray-800 dark:text-gray-200 leading-tight">
        <span class="text-sm">Cashier opened at</span><br>
        {{ cashier.opening_time }}
      </h2>
    </template>
    <div class="py-12 max-w-7xl mx-auto sm:px-6 lg:px-8 space-y-6">
      <div class="grid grid-cols-4 grid-flow-row gap-4 p-4">
        <Card class="text-center">
          <template #cardHeader>
            <span class="text-md dark:text-gray-500">Opening balance (Cash)</span>
          </template>
          <template #cardBody>
            <div class="flex justify-stretch p-6">
              <span class="w-full text-center font-bold text-lg">R$ {{ cashier.opening_amount }}</span>
            </div>
          </template>
        </Card>
        <Card class="text-center">
          <template #cardHeader>
            <span class="text-md dark:text-gray-500">Closing balance (Cash)</span>
          </template>
          <template #cardBody>
            <div class="flex justify-stretch p-6">
              <span class="w-full text-center font-bold text-lg">R$ {{ paymentsByType.Dinheiro ? paymentsByType.Dinheiro.sum + cashier.opening_amount : cashier.opening_amount }}</span>
            </div>
          </template>
        </Card>
      </div>
      <div class="grid grid-cols-2 grid-flow-row gap-4 p-4">
        <Card
          v-for="payments of props.paymentsByType"
          class="text-center"
        >
          <template #cardHeader>
            <div class="flex flex-row justify-between">
              <span class="text-md dark:text-gray-500 flex flex-col"><span>{{ payments.type_name }}</span></span>
              <span class="px-6">
                <span class="w-full text-center font-bold text-lg"><span class="text-sm pr-2 text-gray-500">Total:</span>R$ {{ payments.sum }}</span>
              </span>
            </div>
          </template>
          <template #cardBody>
            <Table
              :columns="[
                {label: 'Table', property: 'table_number'},
                {label: 'Paid at', property: 'paid_at'},
                {label: 'Amount', property: 'value'},
              ]"
              :table-data="payments.payments"
            />
          </template>
        </Card>
      </div>
    </div>
  </AuthenticatedLayout>
</template>
