<script setup>
import {useForm} from '@inertiajs/vue3';
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import NumberInput from "@/Components/NumberInput.vue";
import SingleSelectRemoteInput from "@/Components/SingleSelectRemoteInput.vue";
import Checkbox from "@/Components/Checkbox.vue";
import EntityForm from "@/Components/Entities/EntityForm.vue";


const props = defineProps({ order: Object})
const newOrderForm = useForm({
    table: props.order.table,
    table_id: props.order.table_id ?? null,
    quantity: props.order.quantity,
    product_id: props.order.product_id,
    charge_service_fee: props.order.charge_service_fee || 1,
});

const newOrder = () => {
    newOrderForm.post(route('orders.store'), {
        preserveScroll: true,
        onSuccess: () => {
            newOrderForm.reset();
        },
    });
};
</script>

<template>
  <Head title="Product Category" />

  <AuthenticatedLayout>
    <div class="py-12 max-w-7xl mx-auto sm:px-6 lg:px-8 space-y-6">
      <EntityForm
        :form-ref="newOrderForm"
        :submit-handler="newOrder"
        success-text="Order created"
        :title="props.editing ? 'Editing order' : 'Creating a new order'"
      >
        <div class="grid grid-cols-2 grid-flow-col gap-4">
          <div class="grid grid-cols-2 grid-flow-col gap-4">
            <div>
              <InputLabel
                for="table"
                value="Table"
              />
              <NumberInput
                id="table"
                v-model="newOrderForm.table"
                class="block w-full mt-1"
                name="table"
                min="0.00"
              />
              <InputError
                :message="newOrderForm.errors.table"
                class="mt-2"
              />
            </div>
            <div>
              <InputLabel
                for="quantity"
                value="Quantity"
              />
              <NumberInput
                id="quantity"
                v-model="newOrderForm.quantity"
                class="block w-full mt-1"
                min="0"

                name="quantity"
              />
              <InputError
                :message="newOrderForm.errors.quantity"
                class="mt-2"
              />
            </div>
          </div>

          <div class="grid grid-cols-1">
            <InputLabel
              for="product_id"
              value="Product"
            />
            <SingleSelectRemoteInput
              v-model="newOrderForm.product_id"
              name="product_id"
              :url="route('products.index')"
              filter-property="name"
              display-property="name"
            />
            <InputError
              :message="newOrderForm.errors.product_id"
              class="mt-2"
            />
          </div>
        </div>
        <div class="flex justify-end">
          <div>
            <Checkbox
              id="charge_service_fee"
              v-model="newOrderForm.charge_service_fee"
              name="charge_service_fee"
              :checked="newOrderForm.charge_service_fee == 1"
              value="1"
              class="mt-1"
            />
            <label
              for="charge_service_fee"
              class="font-medium text-sm text-gray-700 dark:text-gray-300 ml-1"
            >
              <span class="align-[-0.125em]">Charge service fee</span>
            </label>

            <InputError
              :message="newOrderForm.errors.charge_service_fee"
              class="mt-2"
            />
          </div>
        </div>
      </EntityForm>
    </div>
  </AuthenticatedLayout>
</template>
