<script setup>
import Paginator from "@/Components/Table/Paginator.vue";

defineEmits(['sortChanged', 'pageChanged', 'perPageChanged']);

const props = defineProps({
    columns: Array,
    actionRoutes: Object,
    paginationData: Object,
})

const getAttribute = (dottedAttr, data) => {
    let attr = dottedAttr.split('.');
    let currentData = data;
    attr.forEach((a) => {
        currentData = currentData[a];
    })
    return currentData;
}
</script>

<template>
  <table class="min-w-full text-left text-sm font-light text-white">
    <thead class="border-b font-medium dark:border-neutral-500">
      <tr>
        <th
          v-for="column of columns"
          class="px-6 py-4"
          v-html="column.label"
        />
      </tr>
    </thead>
    <tbody v-if="paginationData.data.length == 0">
      <tr class="border-b dark:border-neutral-500 text-center">
        <td
          colspan="99"
          class="py-8"
        >
          No data found.
        </td>
      </tr>
    </tbody>
    <tbody v-else>
      <tr
        v-for="item of paginationData.data"
        class="border-b dark:border-neutral-500"
      >
        <td
          v-for="column of columns"
          class="whitespace-nowrap px-6 py-4"
          v-html="getAttribute(column.property, item)"
        />

        <td
          v-if="actionRoutes"
          class="text-right"
        >
          <a
            v-if="actionRoutes.edit"
            :href="route(actionRoutes.edit, item.id)"
            class="m-1 inline-flex items-center px-4 py-2 bg-slate-800 dark:bg-slate-800 border border-transparent rounded-md font-semibold text-xs text-white dark:text-gray-300 uppercase tracking-widest hover:bg-slate-500 dark:hover:bg-slate-700 focus:bg-slate-500 dark:focus:bg-slate-300 active:bg-slate-900 dark:active:bg-slate-300 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 dark:focus:ring-offset-gray-800 transition ease-in-out duration-150"
          ><i class="fa fa-edit" /></a>
          <a
            v-if="actionRoutes.remove"
            :href="route(actionRoutes.remove, item.id)"
            class="m-1 inline-flex items-center px-4 py-2 bg-red-800 dark:bg-red-800 border border-transparent rounded-md font-semibold text-xs text-white dark:text-gray-300 uppercase tracking-widest hover:bg-red-500 dark:hover:bg-red-700 focus:bg-red-500 dark:focus:bg-red-300 active:bg-red-900 dark:active:bg-red-300 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 dark:focus:ring-offset-gray-800 transition ease-in-out duration-150"
          ><i class="fa fa-trash" /></a>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td
          colspan="99"
          class="text-center py-8"
        >
          <Paginator :pagination-data="paginationData" />
        </td>
      </tr>
    </tfoot>
  </table>
</template>
