<script setup>

const props = defineProps({
    paginationData: Object,
    perPage: 15,
})
</script>

<template>
  <nav
    role="navigation"
    aria-label="{{ __('Pagination Navigation') }}"
    class="flex items-center justify-between "
  >
    <div class="flex justify-between flex-1 sm:hidden dark:bg-gray-800 dark:text-gray-500">
      <!-- Previous page link -->
      <span
        v-if="paginationData.current_page === 1"
        class="relative inline-flex items-center px-4 py-2 text-sm font-medium text-gray-500 dark:bg-gray-800 dark:text-gray-500 border dark:border-gray-700 cursor-default leading-5 rounded-md"
      >
        Prev
      </span>
      <a
        v-else
        href="{{ paginationData.prev_page_url }}"
        class="relative inline-flex items-center px-4 py-2 text-sm font-medium text-gray-700 dark:bg-gray-800 dark:text-gray-500 border dark:border-gray-700 leading-5 rounded-md hover:text-gray-500 focus:outline-none focus:ring ring-gray-300 focus:border-blue-300 active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150"
      >
        Prev
      </a>


      <!-- Next page link -->
      <a
        v-if="paginationData.last_page"
        href="{{ paginationData.next_page_url }}"
        class="relative inline-flex items-center px-4 py-2 ml-3 text-sm font-medium text-gray-700 dark:bg-gray-800 dark:text-gray-500 border dark:border-gray-700 leading-5 rounded-md hover:text-gray-500 focus:outline-none focus:ring ring-gray-300 focus:border-blue-300 active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150"
      >
        Next
      </a>
      <span class="relative inline-flex items-center px-4 py-2 ml-3 text-sm font-medium text-gray-500 dark:bg-gray-800 dark:text-gray-500 border dark:border-gray-700 cursor-default leading-5 rounded-md">
        Next
      </span>
    </div>
    <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
      <div>
        <p class="text-sm text-gray-500 leading-5">
          Showing
          <span v-if="paginationData.from">
            <span class="font-medium">{{ paginationData.from }}</span>
            to
            <span class="font-medium">{{ paginationData.to }}</span>
          </span>
          <span v-else>
            {{ paginationData.total }}
          </span>

          of
          <span class="font-medium">{{ paginationData.total }}</span>
          results
        </p>
      </div>

      <div>
        <span class="group/links relative z-0 inline-flex shadow-sm rounded-md dark:bg-gray-800 dark:text-gray-500">
          <!-- Pagination Elements -->
          <template
            v-for="link of paginationData.links"
          >
            <!-- Links -->
            <!-- "Three Dots" Separator -->
            <span
              v-if="link.label === '...'"
              aria-disabled="true"
              class="relative first:rounded-l-md last:rounded-r-md inline-flex items-center px-4 py-2 -ml-px text-sm font-medium text-gray-700 dark:bg-gray-800 dark:text-gray-500 border dark:border-gray-700 cursor-default leading-5"
              v-html="link.label"
            />
            <span
              v-else-if="link.label == paginationData.current_page"
              aria-current="page"
              class="relative first:rounded-l-md last:rounded-r-md inline-flex items-center px-4 py-2 -ml-px text-sm font-medium text-gray-500 dark:bg-gray-800 dark:text-gray-500 border dark:border-gray-700 cursor-default leading-5"
              v-html="link.label"
            />
            <a
              v-else
              :href="link.url"
              class="relative first:rounded-l-md last:rounded-r-md inline-flex items-center px-4 py-2 -ml-px text-sm font-medium text-gray-700 dark:bg-gray-800 dark:text-gray-300 border dark:border-gray-700 leading-5 hover:text-gray-500 focus:z-10 focus:outline-none focus:ring ring-gray-300 focus:border-blue-300 active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150"
              :aria-label="'Go to page ' + link.label"
              v-html="link.label"
            />
          </template>
        </span>
      </div>
    </div>
  </nav>
</template>
