<script setup>

const props = defineProps({
    columns: Array,
    tableData: Array,
})

const getAttribute = (dottedAttr, data) => {
    let attr = dottedAttr.split('.');
    let currentData = data;
    attr.forEach((a) => {
        currentData = currentData[a];
    })
    return currentData;
}
</script>

<template>
  <table class="min-w-full text-left text-sm font-light text-white">
    <thead class="border-b font-medium dark:border-neutral-500">
      <tr>
        <th
          v-for="column of columns"
          class="px-6 py-4"
          v-html="column.label"
        />
      </tr>
    </thead>
    <tbody v-if="tableData.length == 0">
      <tr class="border-b dark:border-neutral-500 text-center">
        <td
          colspan="99"
          class="py-8"
        >
          No data found.
        </td>
      </tr>
    </tbody>
    <tbody v-else>
      <tr
        v-for="item of tableData"
        class="border-b dark:border-neutral-500"
      >
        <td
          v-for="column of columns"
          class="whitespace-nowrap px-6 py-4"
          v-html="getAttribute(column.property, item)"
        />
      </tr>
    </tbody>
  </table>
</template>
