<script setup>
import PrimaryButton from '@/Components/PrimaryButton.vue';
import SecondaryButton from '@/Components/SecondaryButton.vue';
import {ref} from 'vue';
import qs from 'qs';

defineEmits(['filtered']);

const props = defineProps(['filterFormRef', 'submitHandler']);
const filtersOpened = ref(true);

const queryString = qs.parse(window.location.search, {ignoreQueryPrefix: true});
props.filterFormRef.defaults('filterParams', queryString.filterParams || {});
props.filterFormRef.reset();

const clearAndSubmit = function() {
    props.filterFormRef.filterParams = {};
    props.submitHandler();
}
</script>

<template>
  <div
    id="filters"
    class="py-12"
  >
    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8 space-y-6">
      <div class="bg-white dark:bg-gray-800 shadow sm:rounded-lg">
        <h2 class="mb-0">
          <button
            class="group relative flex w-full items-center rounded-t-[15px] border-0 bg-white py-4 px-5 text-left text-base text-neutral-800 transition [overflow-anchor:none] hover:z-[2] focus:z-[3] focus:outline-none dark:bg-gray-800 dark:text-white"
            type="button"
            :aria-expanded="filtersOpened"
            @click.prevent="filtersOpened = !filtersOpened"
          >
            Filters
            <span class="ml-auto h-5 w-5 shrink-0 rotate-[-180deg] fill-[#336dec] transition-transform duration-200 ease-in-out group-[[data-te-collapse-collapsed]]:rotate-0 group-[[data-te-collapse-collapsed]]:fill-[#212529] motion-reduce:transition-none dark:fill-blue-300 dark:group-[[data-te-collapse-collapsed]]:fill-white">
              <i
                v-if="filtersOpened"
                class="fas fa-caret-up"
              />
              <i
                v-else
                class="fas fa-caret-down"
              />
            </span>
          </button>
        </h2>
        <div
          v-show="filtersOpened"
          id="collapseFilters"
          class="!visible px-4 py-2 sm:px-8 border-sky-500 border-solid border-gray-700 border-t-2 "
          aria-labelledby="headingOne"
          data-te-parent="#accordionExample"
        >
          <form
            method="get"
            class="my-6 space-y-6"
            @submit.prevent="submitHandler"
          >
            <slot />

            <div class="flex justify-end gap-4 ">
              <SecondaryButton
                type="button"
                :class="{ 'opacity-25': filterFormRef.processing }"
                :disabled="filterFormRef.processing"
                @click="clearAndSubmit"
              >
                Clear
              </SecondaryButton>
              <PrimaryButton
                :class="{ 'opacity-25': filterFormRef.processing }"
                :disabled="filterFormRef.processing"
              >
                <i class="fas fa-filter" /> Filter
              </PrimaryButton>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
