<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { computed, ref, useSlots } from 'vue';
import EntityListFilterBox from "@/Components/Entities/EntityList/EntityListFilterBox.vue";
defineEmits(['filtered']);

const props = defineProps(['filterFormRef', 'submitHandler']);
const hasFilters = computed(() => !! useSlots().filters);

</script>

<template>
  <AuthenticatedLayout>
    <template #header>
      <slot name="listTitle" />
    </template>

    <div class="px-5">
      <EntityListFilterBox
        v-if="hasFilters"
        :filter-form-ref="filterFormRef"
        :submit-handler="submitHandler"
      >
        <slot name="filters" />
      </EntityListFilterBox>
      <div class="flex flex-col">
        <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
            <div class="overflow-hidden">
              <slot />
            </div>
          </div>
        </div>
      </div>
    </div>
  </AuthenticatedLayout>
</template>
